$facebook-color-hover: #4080FF;
$twitter-color-hover: #0088cc;
$instagram-color-hover: #c13584;

//HEADER SECTION COLORS
$topnav-main-color:  #2c2f34;
$main-menu-bg: #1f2024;
$main-menu-btn-hover: #08f;
$footer-wrapper-color: #151414;

//SECTION TITLES COLOR
$section-title-text: #445670;