// TITLE
#neighbors-title{
    background-color: #ecf2f4;
    position: relative;
    padding: 4rem 0;
    border-bottom: 1px solid #eee; 
    h1{
        padding: 0;
        margin: 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 3px;
        color: #333;
        font-size: 30px;
        text-transform: uppercase;
    }
    
}
.page-title-center {
    text-align: center;
    span{
        margin-top: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-weight: 300;
        color: #777;
        font-size: 18px;
    }
}

// CONTENT SECTION
#projects-news-titles{
    padding-left: 7px;
}
#projects-news-titles:first-letter{
    text-transform: uppercase;
}
#neighbors-content {
    position: relative;
    background-color: #fff;
}
.content-wrap {
    position: relative;
    padding-top: 88px!important;
}
.flex-grow-1{
    h3 {
        padding-bottom: 25px;
    }
}
a.more-link {
    font-style: normal;
    border-bottom: none;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline !important;
}
.coll-style{
    padding: 0 20px;
}
.publications-title{
    font-size: 19px!important;
}
