// TITLE
.proj-pg-titles{
    background-color: #ecf2f4;
    position: relative;
    padding: 4rem 0;
    border-bottom: 1px solid #eee; 
    h1{
        padding: 0;
        margin: 0;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 3px;
        color: #333;
        font-size: 30px;
        text-transform: uppercase;
    }
    
}
.proj-pg-titles {
    text-align: center;
    span{
        margin-top: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-weight: 300;
        color: #777;
        font-size: 18px;
    }
}

// CONTENT SECTION
.proj-about-titles{
    padding-left: 7px;
    margin-top: 55px;
}
.about-proj-text{
    padding: 0 7px;
    p{
        font-size: 18px;
        line-height: 1.65 !important;
        color: #555;
        a {
          color: #236fd3; 
          text-decoration: none; 
        }
        i{
            color: #236fd3; 
        }
    }
}
.project-news-title-text{
    padding-left: 7px;
}
.project-news-title-text:first-letter{
    text-transform: uppercase;
}
.proj-contents {
    position: relative;
    background-color: #fff;
}
.content-wrap {
    position: relative;
    padding-top: 88px!important;
}
.flex-grow-1{
    h3 {
        padding-bottom: 25px;
    }
}
a.more-link {
    font-style: normal;
    border-bottom: none;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline !important;
}
.coll-style{
    padding: 0 20px;
}
.publications-title{
    font-size: 19px!important;
}

// MEDIA
@media (max-width: 991px){
    .proj-pg-titles{
        margin-top: 0;
        h1{
            font-size: 21px;
        }
    }
    .proj-about-titles{
        padding-left: 7px;
        margin-top: 25px;
    }
}
@media (max-width: 767px){
    .hand-mt{
        margin-top: 15px!important;
    }
    .proj-about-titles{
        padding-left: 7px;
        margin-top: 15px;
        font-size: 24px;
    }
    .about-proj-text{
        padding: 0 7px;
        p{
            font-size: 16px;
            line-height: 1.65 !important;
            color: #555;
            
            
        }
    }
    .proj-pg-titles{
        margin-top: 0px;
        h1{
            font-size: 21px;
        }
    }
    .page-title-center {
        p{
            font-size: 14px;
        }
    }
    .project-news-title-text{
        font-size: 23px;
        text-align: center;
    }
    .content-title-mob{
        padding-top: 0!important;
    }
    .mob-style{
        padding: 0 40px;
    }
}

@media (max-width: 575px){
    .proj-pg-titles{
        margin-top: 25px;
    }
    .proj-about-titles{
        text-align: center;
    }
    .about-proj-text{
        padding: 0 25px;
        p{
            font-size: 15px;
        }
    }
}