<div class="row ">
    <div class="col-md-3 col-lg-4 mb-5 company-logo-footer">
        <div id="logo-footer-ru" class="company-logo" style="display: none;">
            <a href="index.html" >
                <img src="img/logo-main/logo_footer_ru.png" alt="Company Logo">
            </a>
        </div>
        <div id="logo-footer-en" class="company-logo" style="display: none;">
            <a href="index.html" >
                <img src="img/logo-main/logo_footer_en.png" alt="Company Logo">
            </a>
        </div>
        <div id="logo-footer-tj" class="company-logo" style="display: none;">
            <a href="index.html" >
                <img src="img/logo-main/logo_footer_tj.png" alt="Company Logo">
            </a>
        </div>
    </div>
    <div class="col-md-5 col-lg-5 mb-5">
        <div class="footer-items-align">
            <div class="footer-text-wrapper">
                <div class="footer-text-title">
                    <h6>Кто мы</h6>
                </div>
                <div class="footer-text-descr">
                    <span>Информация о Коалиции (год образования, с какой целью создавалась, кто члены коалиции, основное видение/миссия коалиции)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-5">
        <div class="footer-items-align">
            <div class="footer-text-wrapper">
                <div class="footer-text-title">
                    <h6>Контакты</h6>
                </div>
                <div class="footer-contacts-descr">
                    <i class="fas fa-phone-alt"></i>
                    <span>(+992 99) 999 9999</span>
                </div>
                <div class="footer-contacts-descr">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>email@email.com</span>
                </div>
            </div> 
        </div>
    </div>
</div>